Temp/
obj/
Library/
Value/
Other/
Value/

Assets/Audio/
Assets/Audio.meta
Assets/Material/
Assets/Material.meta
Assets/Model/
Assets/Model.meta
Assets/Scene/
Assets/Scene.meta
Assets/PostProcessing/
Assets/PostProcessing.meta
Assets/Prefabs/
Assets/Prefabs.meta
Assets/Standard Assets/
Assets/Standard Assets.meta
Assets/Time of Day
Assets/Time of Day.meta